
GeneralConfig:
  Schema: 1.0    
  ProSimIP: 192.168.1.10  


PhidgetsHubsInstances:
   - HUB-TQ1    #192.168.1.200   746062
   - HUB-TQ2    #192.168.1.201   742347


PhidgetsBLDCMotorInstances:
  - Serial: 746062
    HubPort: 0
    Reversed: true
    Offset: 0
    RefTurnOn: system.gates.B_THROTTLE_SERVO_POWER_LEFT
    RefCurrentPos: system.analog.A_THROTTLE_LEFT
    RefTargetPos: system.gauge.G_THROTTLE_LEFT
    Acceleration: 0.2

    Options:    
      MaxVelocity: 0.20
      MinVelocity: 0.02
      VelocityBand: 250.0
      CurveGamma: 0.55
      DeadbandEnter: 2.0
      DeadbandExit: 4.0
      MaxVelStepPerTick: 0.008
      Kp: 0.0
      Ki: 0.0
      Kd: 0.0
      IOnBand: 8.0
      IntegralLimit: 0.3
      PositionFilterAlpha: 0.30
      TickMs: 20

  - Serial: 746062
    HubPort: 1
    Reversed: true
    Offset: 0
    RefTurnOn: system.gates.B_THROTTLE_SERVO_POWER_RIGHT
    RefCurrentPos: system.analog.A_THROTTLE_RIGHT
    RefTargetPos: system.gauge.G_THROTTLE_RIGHT
    Acceleration: 0.2
    
    Options:
      MaxVelocity: 0.20
      MinVelocity: 0.02
      VelocityBand: 250.0
      CurveGamma: 0.55
      DeadbandEnter: 2.0
      DeadbandExit: 4.0
      MaxVelStepPerTick: 0.008
      Kp: 0.0
      Ki: 0.0
      Kd: 0.0
      IOnBand: 8.0
      IntegralLimit: 0.3
      PositionFilterAlpha: 0.30
      TickMs: 20



PhidgetsDCMotorInstances:
  - Serial: 746062
    HubPort: 3
    Acceleration: 100
    Reversed: false
    CurrentLimit: 4.0
    
    VoltageInput:
      Serial: 742347
      HubPort: 2
      Channel: -1 # IsHubPortDevice = true (-1) false (0)
      MinChangeTriggerValue: 0.002
      InputPoints: [0.275, 0.412, 0.559, 0.7112, 0.76]
      OutputPoints: [0, 5, 10, 15, 17]
    Options:
      MaxVelocity: 0.9
      MinVelocity: 0.3
      VelocityBand: 0.6
      CurveGamma: 0.2
      DeadbandEnter: 0.04
      DeadbandExit: 0.08
      MaxVelStepPerTick: 0.10
      Kp: 0.60
      Ki: 0.12
      Kd: 0
      IOnBand: 0.5
      IntegralLimit: 0.04
      PositionFilterAlpha: 0.86
      TickMs: 15
      SetpointSlewPerTick: 0.015


PhidgetsGateInstances:

  - Serial: 742347
    HubPort: 4
    Channel: 0
    ProsimDataRef: B_REVERSER_1_SYNC_LOCK
    DelayOn: 1500
    MaxTimeOn: 2000

  - Serial: 742347
    HubPort: 4
    Channel: 1
    ProsimDataRef: B_REVERSER_2_SYNC_LOCK
    DelayOn: 1500
    MaxTimeOn: 2000

  - Serial: 742347
    HubPort: 4
    Channel: 3
    ProsimDataRef: B_PARKING_BRAKE_RELEASE
    DelayOn: 50
    MaxTimeOn: 1000
  
    


PhidgetsInputInstances:
  - Serial: 742347
    HubPort: 3
    Channel: 1
    ProsimDataRef: S_MIP_PARKING_BRAKE
    InputValue: 1
    OffInputValue: 0

  - Serial: 742347
    HubPort: 3
    Channel: 0
    InputValue: 1
    OffInputValue: 0
    UserVariable: BrakeLatchSwitch
    


PhidgetsOutputInstances:
  - Serial: 746062
    HubPort: 4
    Channel: 3
    ProsimDataRef: I_MIP_PARKING_BRAKE
    
  - Serial: 742347
    HubPort: 4
    Channel: 2
    ValueOn: 1
    ValueOff: 0
    UserVariable: BrakeLatchRelay
    DelayOn: 50
    MaxTimeOn: 2000



UserVariableInstances:
  - Name: BrakeLatchSwitch
  - Name: BrakeLatchRelay
  


CustomParkingBrakeInstance:
  SwitchVariable: BrakeLatchSwitch
  RelayVariable: BrakeLatchRelay
  ToeBrakeThreshold: 500

