
GeneralConfig:
  Schema: 1.0    
  ProSimIP: 192.168.1.10  


PhidgetsHubsInstances:
   - HUB-TQ1    #192.168.1.200   746062
   - HUB-TQ2    #192.168.1.201   742347


PhidgetsBLDCMotorInstances:
  - Serial: 746062
    HubPort: 0
    Reversed: true
    Offset: 0
    RefTurnOn: system.gates.B_THROTTLE_SERVO_POWER_LEFT
    RefCurrentPos: system.analog.A_THROTTLE_LEFT
    RefTargetPos: system.gauge.G_THROTTLE_LEFT
    Acceleration: 0.2

    Options:    
      MaxVelocity: 0.20
      MinVelocity: 0.02
      VelocityBand: 250.0
      CurveGamma: 0.55
      DeadbandEnter: 2.0
      DeadbandExit: 4.0
      MaxVelStepPerTick: 0.008
      Kp: 0.0
      Ki: 0.0
      Kd: 0.0
      IOnBand: 8.0
      IntegralLimit: 0.3
      PositionFilterAlpha: 0.30
      TickMs: 20

  - Serial: 746062
    HubPort: 1
    Reversed: true
    Offset: 0
    RefTurnOn: system.gates.B_THROTTLE_SERVO_POWER_RIGHT
    RefCurrentPos: system.analog.A_THROTTLE_RIGHT
    RefTargetPos: system.gauge.G_THROTTLE_RIGHT
    Acceleration: 0.2
    
    Options:
      MaxVelocity: 0.20
      MinVelocity: 0.02
      VelocityBand: 250.0
      CurveGamma: 0.55
      DeadbandEnter: 2.0
      DeadbandExit: 4.0
      MaxVelStepPerTick: 0.008
      Kp: 0.0
      Ki: 0.0
      Kd: 0.0
      IOnBand: 8.0
      IntegralLimit: 0.3
      PositionFilterAlpha: 0.30
      TickMs: 20



PhidgetsDCMotorInstances:
  - Serial: 746062
    HubPort: 3
    Acceleration: 70
    Reversed: false
    CurrentLimit: 4.0
    
    VoltageInput:
      Serial: 742347
      HubPort: 2
      Channel: -1 # IsHubPortDevice = true (-1) false (0)
      MinChangeTriggerValue: 0.003
      InputPoints: [0.264, 0.4153, 0.5517, 0.7004, 0.7598] # from Phidgets: @0-.264, @5-.4178, @10-.5517, @15-.7004, @17-.7598
      OutputPoints: [0, 5, 10, 15, 17]
    Options:
      MaxVelocity: 0.30
      MinVelocity: 0.22
      VelocityBand: 0.45
      CurveGamma: 1.2
      DeadbandEnter: 0.02
      DeadbandExit: 0.04
      MaxVelStepPerTick: 0.04
      Kp: 0.026
      Ki: 0
      Kd: 0.0045
      IOnBand: 0.04
      IntegralLimit: 0.012
      PositionFilterAlpha: 0.40
      TickMs: 15
      SetpointSlewPerTick: 0.04


PhidgetsGateInstances:

  - Serial: 742347
    HubPort: 4
    Channel: 0
    ProsimDataRef: B_REVERSER_1_SYNC_LOCK
    DelayOn: 1500
    MaxTimeOn: 2000

  - Serial: 742347
    HubPort: 4
    Channel: 1
    ProsimDataRef: B_REVERSER_2_SYNC_LOCK
    DelayOn: 1500
    MaxTimeOn: 2000

  - Serial: 742347
    HubPort: 4
    Channel: 3
    ProsimDataRef: B_PARKING_BRAKE_RELEASE
    DelayOn: 50
    MaxTimeOn: 1000
  
    


PhidgetsInputInstances:
  - Serial: 742347
    HubPort: 3
    Channel: 1
    ProsimDataRef: S_MIP_PARKING_BRAKE
    InputValue: 1
    OffInputValue: 0

  - Serial: 742347
    HubPort: 3
    Channel: 0
    InputValue: 1
    OffInputValue: 0
    UserVariable: BrakeLatchSwitch
    


PhidgetsOutputInstances:
  - Serial: 746062
    HubPort: 4
    Channel: 3
    ProsimDataRef: I_MIP_PARKING_BRAKE
    
  - Serial: 742347
    HubPort: 4
    Channel: 2
    ValueOn: 1
    ValueOff: 0
    UserVariable: BrakeLatchRelay
    DelayOn: 50
    MaxTimeOn: 2000



UserVariableInstances:
  - Name: BrakeLatchSwitch
  - Name: BrakeLatchRelay
  


CustomParkingBrakeInstance:
  SwitchVariable: BrakeLatchSwitch
  RelayVariable: BrakeLatchRelay
  ToeBrakeThreshold: 500

CustomTrimWheelInstance:
    Serial: 742347
    HubPort: 5
    Reversed: false
    DirtyUp: 1
    DirtyDown: 0.8
    CleanUp: 0.6
    CleanDown: 0.6
    APOnClean: 0.7
    APOnDirty: 0.5
    PulsateMotor: false
    Range: [0.05,0.95]